 /* Centrar el formulario y la imagen */
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .form-floating {
    margin-bottom: 10px;
  }
  .form-signin .form-floating input {
    margin-bottom: 10px;
  }
  /* Ver contraseña */
  .ver-contraseña {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    cursor: pointer;
  }
  .form-floating {
    position: relative;
  }
  .form-floating input {
    padding-right: 30px;
  }
  .ver-contraseña {
    z-index: 1;
  }