*{
	outline: none;
	margin:0;
	padding: 0;
	border: 0;
	background-color: transparent;
	font-family: sans-serif;
	user-select: none;
}
body{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.calendario, .CalendarioHeader, .header{
	--sizeColumn:4rem;

	width: calc(var(--sizeColumn)*7);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}	
/* BORRAR AL FINAL el margen */
.calendario{
	margin: auto;
	border-radius: 0.3rem;
	background-color: rgba(0,0,0,0.02);
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.CalendarioHeader{
	height: 3rem;
	padding: 10px;
	align-items: center;
	background-color: #2c3e50 ;
	font-weight: bold;
	color: #ecf0f1;
}
.CalendarioHeader > button{
	width: 25%;
	color: #95a5a6;
}
aside{
	text-align: center;
	width: 50%;	
}
aside > h4::before{
	content:"- "
}
aside > h4{
	color: #bdc3c7;
	font-size: 0.8rem;
}
aside > h4::after{
	content:" -"
}
.header > h3::after, .header > h3:active{
	background-color: transparent;
}
h3{
	position: relative;
	margin 2px;
	width: calc((100%/7) - 4px);
	height: calc(var(--sizeColumn) - 4px);
	display: flex;
	align-items: center;		
	justify-content: center;
	cursor: pointer;
	background-color: transparent;
}
h3:active{
	/*Colocar colores de variables*/
	background-color: #ededed;
}
h3::after{
	--size: 4px;
	
	content: "";
	position: absolute;
	bottom: calc(var(--size)*2);
	width: 30%;
	height: var(--size);
	/*Colocar colores de variables*/
	background-color: #ededed;
	border-radius: 5em;
}

@media only screen and (max-width: 600px){
	#app{
		padding-left: 2.5%;
		width: 95%;
	}
	.calendario{
		--sizeColumn: 3rem;
	}
}